.footer {
	grid-area: footer;
	background-color: $dark;

	&__row {
		display: grid;
		grid-template-columns: 1.5fr 1fr 1fr;
		column-gap: 2rem;
		border-top: 1px solid #515151;

		@include desktop_extra_small {
			grid-template-columns: auto;
			column-gap: 0;
			row-gap: 4.5rem;
		}

		&_last {
			@include desktop_extra_small {
				padding-top: 2rem;
				row-gap: 2rem;
			}

			.footer__column {
				@include InterRegular;
				font-size: 1.6rem;
				padding-top: 3rem;
				color: #8B8B8B;
				padding-bottom: 3rem;

				a,
				a:visited,
				a:focus {
					color: #8B8B8B;
				}
				
				a:hover {
					color: $orange;
				}

				@include desktop_extra_small {
					padding: 0;
				}
			}
		}

		&:first-child {
			@include desktop_extra_small {
				padding-top: 4rem;
			}			
		}
	}

	&__column {
		color: $white;		
		padding-top: 7rem;
		padding-bottom: 10.5rem;

		&:not(:last-child) {
			padding-right: 2rem;
		}

		&:last-child {
			@include desktop_extra_small {
				padding-bottom: 5rem;
			}
		}

		p,
		a {
			@include InterRegular;
			font-size: 1.6rem;

			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}

			@include tablet {
				font-size: 1.6rem;
			}
		}

		a,
		a:visited,
		a:focus {
			display: inline-block;
			color: $white;
		}
		
		a:hover {
			color: $orange;
		}

		&_end {
			justify-self: end;

			@include desktop_extra_small {
				justify-self: auto;
			}
		}
		
		@include desktop_extra_small {
			padding: 0;
		}
	}

	&__subtitle {
		@include InterBold;
		font-size: 2.4rem;
		margin-bottom: 2rem;
 
		@include tablet {
			font-size: 2rem;
		}
	}

	&__logo {
		@include desktop_extra_small {
			max-width: none;
		}		
	}
}