.numbers {
	.section__title {
		margin-bottom: 7rem;
	}
	&_gray {
		background-color: $gray;
	}

	&__list {
		display: flex;
		justify-content: space-between;

		@include mobile {
			gap: 4rem;
			flex-wrap: wrap;
		}

		.numbers__item {
			@include mobile {
				max-width: 140px;
			}
		}
	}

	&__item {
		.value {
			@include InterSemiBold;
			font-size: calc(10px + 90 * (100vw / 1920));
			text-transform: uppercase;
			color: $orange;
			display: flex;
			align-items: center;

			@include min_desktop_huge{
				font-size: 12rem;
			}

			@include desktop_huge {
				font-size: calc(10px + 60 * (100vw / 1920));
			}

			@include mobile {
				font-size: 5rem;
			}

			&_plus {
				&::after {
					content: '+';
				}
			}
		}

		p {
			@include InterSemiBold;

			@include mobile {
				font-size: 1.4rem;
			}
		}
	}
}