.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100000;
	background-color: $black;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.1s;
	opacity: 1;
	

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		pointer-events: none;
		user-select: none;
	}

	&__images {
		position: relative;
		width: 300px;
		height: 100px;

		@include mobile {
			width: 200px;
			height: 70px;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&_loaded {
			clip-path: inset(0 0 0 0);
			transition: clip-path ease-in-out 1.5s;

			&._active {
				clip-path: inset(100% 0 0 0);
			}
		}
	}

	 &._loaded {
		opacity: 0;
		visibility: hidden;
	}
}