.socials {
	display: flex;
	gap: 2.2rem;

	&__link {
		svg {
			width: 34px;
			height: 34px;

			path {
				fill: $orange;
				transition: fill $transitionDuration;
			}

			&:hover {
				path {
					fill: $white;
				}
			}
		}	
		
		&::after {
			content: none;
		}

		&_inverse {
			svg {
				&:hover {
					path {
						fill: $black;
					}
				}
			}
		}
	}
}