.close-btn {
	display: none;
}

*._active~.close-btn {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 120px;
	height: 102px;
	background-color: $white;
	background-image: url(@icons/close.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;

	&:hover {
		cursor: pointer;
	}

	@include tablet {
		width: 60px;
		height: 60px;
	}
}