

input {
	@include InterRegular;
	transition: all $transitionDuration;
	padding: 15px 20px;
	border: 1px solid $borderForm;
	outline: none;
	color: $black;
	background-color: transparent;
	font-size: 1.6rem;

	@include tablet {
		font-size: 1.4rem;
	}

	&:focus,
	&[type^=hidden]:focus+input {
		border: 1px solid $orange;
	}

	&:disabled {}

	&::placeholder {
		@include InterRegular;
		color: $placeholderColor;
		font-size: 1.6rem;

		@include tablet {
			font-size: 1.4rem;
		}
	}

	&~.pristine-error {
		display: none;
	}

	&[aria-invalid=true] {
		&:not(:focus) {
			border: 1px solid $error40;
		}	
	}

	.has-success & {
		&:not(:focus) {
			border: 1px solid $success50;
		}
	}	
}

.input__container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-bottom: 20px;

	.input__label {
		color: $dark;
		font-size: 2rem;

		@include tablet {
			font-size: 1.4rem;
		}
	}

	&_file {
		position: relative;
		width: 100%;

		& input {
			border: none;
			opacity: 0;
			width: 100%;
		}

		.file-button {
			position: absolute;
			pointer-events: none;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			top: 4rem;
			left: 0;
			font-size: 1.5rem;
			color: $placeholderColor;
			opacity: 0.7;
			padding: 15px 17px;
			border: 1px solid $borderForm;
			width: 100%;

			@include tablet {
				top: 3rem;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}
}