<div class="form-group input__container input__container_phone">
	@@if (context.label) {
	@@if (context.id) {
	<label class="input__label" for="@@id">@@label@@if (context.required) {*}</label>
	}
	@@if (!context.id) {
	<span class="input__label">@@label@@if (context.required) {*}</span>
	}
	}
	<input @@if (context.name) {name="@@name" } type="hidden" />
	<input
		class="form-control"
		@@if (context.placeholder) {placeholder="@@placeholder"}
		@@if (!context.placeholder) {placeholder="Ваш телефон@@"}
		@@if (context.required) {required}
		@@if (context.id) {id="@@id"}
		@@if (context.value) {value="@@value"}
		data-type="tel"
		type="tel"
	>

</div>