@keyframes rotation {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes preloaderStyle {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.element-animation {
	opacity: 0;
	transform: translateY(100px);
	transition: all $transitionDuration;


	body.loaded &.element-show {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes logoAnimationArrow {
	0% {
		clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
	}
	12% {
		clip-path: polygon(75% 75%, 75% 75%, 100% 75%, 100% 100%, 75% 100%, 75% 100%, 75% 75%);
	}
	25% {
		clip-path: polygon(50% 75%, 50% 75%, 100% 75%, 100% 100%, 50% 100%, 25% 100%, 25% 75%);
	}
	37% {
		clip-path: polygon(25% 75%, 50% 75%, 100% 75%, 100% 100%, 75% 100%, 0 100%, 0 75%);
	}
	60% {
		clip-path: polygon(25% 50%, 25% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
	}
	72% {
		clip-path: polygon(25% 0, 25% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
	}
	80% {
		clip-path: polygon(50% 0, 50% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
	}
	90% {
		clip-path: polygon(75% 0, 75% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
	}
	100% {
		clip-path: polygon(100% 0, 100% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
	}
	// https://bennettfeely.com/clippy/
}

.transition-delay-1 {
	transition-delay: 0.2s;
}

.transition-delay-2 {
	transition-delay: 0.3s;
}

.transition-delay-3 {
	transition-delay: 0.4s;
}

.transition-delay-4 {
	transition-delay: 0.5s;
}