$white: #ffffff;
$black: #000000;
$dark: #252323;
$gray: #F3F3F3;
$orange: #F46D1E;
$dirty: #515151;

$orangeHover: #FF9151;
$borderForm: #DEDEDE;
$placeholderColor: #969696;

$productBorder: #B5B5B5;
$productTableBg: #ECECEC;


$error40: #E92219;
$success50: #1FAB13;


$transitionDuration: .4s ease-in-out;